In [7]:
i = 0
while(i<=50):
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [3]:
i = 1

while(i<=10):
    print("Rushii ", (i))
    i = i + 1

Rushii  1
Rushii  2
Rushii  3
Rushii  4
Rushii  5
Rushii  6
Rushii  7
Rushii  8
Rushii  9
Rushii  10

In [1]:
Fruits = ["mango",'banana',"apple","watermelon"]
i = 0
while i<len(Fruits):
    print(Fruits[i])
    i = i + 1

mango
banana
apple
watermelon

### For Loop

In [2]:
a = [1,2,3,4,5]
for item in a:
    print(item)
    
else:
    print("done")

1
2
3
4
5
done

### Range Function In Python
### Break
### continue
### Pass

In [4]:
for i in range(10):
    print(i)
    if i == 5:
        break
    
else:
    print("the 5 has been removed")

0
1
2
3
4
5

In [8]:
for i in range(1,10):
    if i == 5:
         continue
            
    print(i)
    
else:
    print("the 5 has been removed")

1
2
3
4
6
7
8
9
the 5 has been removed

In [12]:
i = 10
if i>100:
    pass
 
print("raj is a good boy")

raj is a good boy

In [15]:
rushi = [ 1,2,3,4]
for items in rushi:
    print(items)

1
2
3
4

In [26]:
num = int(input("Enter the number "))
for i in range(1,11):
    print(str(num) +  " x " + str(i) + "=" + str(i*num))

Enter the number 12
12 x 1=12
12 x 2=24
12 x 3=36
12 x 4=48
12 x 5=60
12 x 6=72
12 x 7=84
12 x 8=96
12 x 9=108
12 x 10=120

In [28]:
num = int(input("Enter the number "))
for i in range(1,11):
    print(f"{num}x{i}={num*1}")

Enter the number 12
12x1=12
12x2=12
12x3=12
12x4=12
12x5=12
12x6=12
12x7=12
12x8=12
12x9=12
12x10=12

In [ ]:
(f"{num}x{i}={num*1}")

In [38]:
l1 = ["harry","soham","sachin","rahul"]
for name in l1:
    if name.startswith("s"):
        print("hello "  + name)

hello soham
hello sachin

### prime number

In [3]:
num = int(input("Enter the number: "))
prime = True

for i in range(2,num):
    if (num%i == 0):
        prime = False
        break
if prime:
    print("this is prime number")
else:
    print("this is not prime number")

Enter the number: 56
this is not prime number

### factorial

In [9]:
num = int(input("Enter the number: "))
factorial = 1
for i in range(1, num+1):
    factorial = factorial * 1
print(f"the factorial of {num} is {factorial}")

Enter the number: 4
the factorial of 4 is 1

In [11]:
r = 5
for i in range(5):
    print("*" * (i+1))

*
**
***
****
*****

In [12]:
r = 5
for i in range(5):
    print("?" * (i+1))

?
??
???
????
?????

In [15]:
n = 3
for i in range(3):
    print(" " * (n-i-1), end= " ")
    print("*" * (2*i+1), end= " ")
    print(" " * (n-i-i))

   *
  ***
 *****

In [ ]:
5*1=5
5*2=10

In [18]:
num = int(input("Enter the number "))


for i in range(1,11):

    r = num / i
    
    print(r)

Enter the number 4
4.0
2.0
1.3333333333333333
1.0
0.8
0.6666666666666666
0.5714285714285714
0.5
0.4444444444444444
0.4

In [83]:
rushi = ["rajii","raj","ganesh","suyash"]
i = 0
while i<len(rushi):
    print(rushi[i])
    i = i + 1

rajii
raj
ganesh
suyash

In [111]:
rushi = ["rajii","raj","suyash","ganesh"]

for i in range(4):
    print("hello",rushi[i])
    i = i + 1

hello rajii
hello raj
hello suyash
hello ganesh

In [5]:
rushi = ["rajii","raj","suyash","ganesh"]

for i in range(len(rushi)):
    print("good morning", rushi[i])

good morning rajii
good morning raj
good morning suyash
good morning ganesh

In [49]:
r = 0

for r in range(5):
    print("*" * (r))

*
**
***
****

In [50]:

for i in range(11):
    print("*" * (i))

*
**
***
****
*****
******
*******
********
*********
**********

In [51]:
r = "*"
for i in range(11):
    print(r*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [58]:
r = int(input("Enter the value"))
a = 0
i = 1
for i in range(r+1):
        a = i + a
        i = i + 1
else:
    print(a)

Enter the value5
15

In [64]:
r = int(input("enter the name"))
a = 0

for b in range(r):
    b = b + 1
    a = a + b
    
else:
    print(a)

enter the name10
55

In [67]:
r = int(input("Enter the number "))
a = 1

for i in range(r):
    i = i + 1
    a = i * a
    
else:
    print(a)

Enter the number 5
120

In [108]:
for i in range(1):
    print("*" *3)
    print("* *" *1)
    print("*" *3)

***
* *
***

In [115]:
for i in range(1):
    print("  *  "*1)
    print(" * * "*1)
    print("* "*3)

  *
 * *
* * *

### Sum of natural no

In [5]:
r = int(input("Enter the number: "))
i = 0
a = 0
for i in range(r+1):
#     i = i+1
    a = a+i
else:
    print(a)

Enter the number: 4
10

In [8]:
r = int(input("Enter the number: "))
i = 0
a = 0
for i in range(r):
    i = i+1
    a = a+i
    print(a)

Enter the number: 4
1
3
6
10

###  Facririal of natural number

In [14]:
r = int(input("enter the name ")) 
a = 1
for i in range(r):
    i = i + 1
    a = a * i
    print(a)

enter the name 5
1
2
6
24
120

In [1]:
r = int(input("enter the name ")) 
a = 1
for i in range(r):
    i = i + 1
    a = a * i
else:
    print(a)

enter the name 10
3628800

In [22]:
for i in range(1):
    print("   * "*1)
    print("  ***"*1)
    print(" *****"*1)

   *
  ***
 *****

In [23]:
n = 3
for i in range(3):
    print(" " * (n-i-1), end= " ")
    print("*" * (2*i+1), end= " ")
    print(" " * (n-i-i))

   *
  ***
 *****

In [35]:
n = 1
for i in range(1):
    print("*" * (3))
    print("* *" * (1))
    print("*" * (3))

***
* *
***

In [4]:
n = int(input("Enter the number:"))

for i in range(n):
    for j in range(n-i):
        print("*",end="")
    print()

Enter the number:5
*****
****
***
**
*

In [6]:
n = int(input("Enter the number:"))

for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

Enter the number:7
*
**
***
****
*****
******
*******

In [13]:
text = input("Enter the username: ")

if(len(text)<10):

    print("the username contains less than character")
    
    
    
    
    
    
else:
    print("the username having more character than required")

Enter the username: fgfftftftftfgygygh
the username having more character than required